<!--<div class="item-lista">-->
<!--  <div class="status-indicator"></div>-->
<!--  <div class="conteudo">-->
<!--    <span class="data">{{ lancamento.data_efetiva | date: 'dd/MM/yy' }}</span>-->

<!--    <div>-->
<!--      <span class="descricao">{{ lancamento.descricao }}</span>-->

<!--      <div class="lancamento-tags">-->
<!--        <span class="tag" *ngFor="let tag of lancamento.tags">{{ tag.nome }}</span>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="valor-menu">-->
<!--    <span class="valor" [class.negative]="lancamento.valor < 0">-->
<!--      {{ lancamento.valor | currency:'BRL' }}-->
<!--    </span>-->

<!--&lt;!&ndash;    <app-context-menu&ndash;&gt;-->
<!--&lt;!&ndash;      [lancamento]="lancamento"&ndash;&gt;-->
<!--&lt;!&ndash;      (edit)="editarItem(lancamento)"&ndash;&gt;-->
<!--&lt;!&ndash;      (delete)="excluirItem(lancamento)">&ndash;&gt;-->
<!--&lt;!&ndash;    </app-context-menu>&ndash;&gt;-->

<!--&lt;!&ndash;    <app-context-menu [item]="lancamento"></app-context-menu>&ndash;&gt;-->

<!--    <button nbButton ghost size="small" [nbContextMenu]="menuItems" nbContextMenuTag="lancamento-context-menu">-->
<!--      <nb-icon icon="more-vertical-outline"></nb-icon>-->
<!--    </button>-->
<!--&lt;!&ndash;    <button nbButton ghost size="small" [nbContextMenu]="menuItems" nbContextMenuTag="item-{{ lancamento.id }}">&ndash;&gt;-->
<!--&lt;!&ndash;      <nb-icon icon="more-vertical-outline"></nb-icon>&ndash;&gt;-->
<!--&lt;!&ndash;    </button>&ndash;&gt;-->


<!--  </div>-->
<!--</div>-->
