<!--<mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block">-->
<!--    <mat-card-header>-->
<!--        <mat-card-title>-->
<!--            <h5 class="mt-0 mb-0">-->
<!--                Basic Table-->
<!--            </h5>-->
<!--        </mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--        <app-basic-table></app-basic-table>-->
<!--    </mat-card-content>-->
<!--</mat-card>-->

<!--<div >-->

<!--    <h2 style="display: inline" *ngIf="!isLoading" mat-dialog-title>Editar estudo</h2>-->
<!--    <span class="spacer"></span>-->

<!--    <h3 style="display: inline" *ngIf="!isLoading" class="mb-25" mat-dialog-title>uid: {{estudo?.StudyInstanceUID}}</h3>-->
<!--</div>-->

<div class="mat-dialog-container">
    <mat-dialog-content>
        <div class="loading-container" *ngIf="isLoading; else edicaoEstudoTemplate">
            <mat-spinner></mat-spinner>
        </div>
        <ng-template #edicaoEstudoTemplate>
            <div class="table-container mat-dialog-content">
                <table mat-table [dataSource]="estudoTags" class="mat-elevation-z8">
                    <!-- Tag DICOM -->
                    <ng-container matColumnDef="tag">
                        <th mat-header-cell *matHeaderCellDef>Tag DICOM</th>
                        <td mat-cell *matCellDef="let element">{{ element.tag }}</td>
                    </ng-container>

                    <!-- Nome da Tag -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Nome</th>
                        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                    </ng-container>

                    <!-- Valor -->
                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Valor</th>
                        <!--                <td mat-cell *matCellDef="let element">-->
                        <!--                    <input [disabled]="!element.isEditing || !element.isEditable" matInput [(ngModel)]="element.value"/>-->
                        <!--                    &lt;!&ndash; <input [disabled]="!element.isEditable || element.isEditing" matInput [(ngModel)]="element.value" />&ndash;&gt;-->
                        <!--                </td>-->

                        <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="getComponentForTag(element.name); else defaultInput">
                                <ng-container [ngSwitch]="getComponentForTag(element.name)?.component">

                                    <app-bool-select
                                        *ngSwitchCase="'app-bool-select'"
                                        [initialValue]="element.value"
                                        [(ngModel)]="element.value">
                                    </app-bool-select>

                                    <app-data-input
                                        *ngSwitchCase="'app-data-input'"
                                        [initialValue]="element.value"
                                        [(ngModel)]="element.value">
                                    </app-data-input>

                                    <app-study-modality-select
                                        *ngSwitchCase="'app-study-modality-select'"
                                        [initialValue]="element.value"
                                        [(ngModel)]="element.value"
                                        [multiple]="getComponentForTag(element.name)?.options?.multiple">
                                    </app-study-modality-select>

                                    <app-unity-measure-input
                                        *ngSwitchCase="'app-unity-measure-input'"
                                        [initialValue]="element.value"
                                        [(ngModel)]="element.value"
                                        [unitOptions]="getComponentForTag(element.name)?.options?.unitOptions">
                                    </app-unity-measure-input>

                                    <app-phone-input
                                        *ngSwitchCase="'app-phone-input'"
                                        [initialValue]="element.value"
                                        [(ngModel)]="element.value">
                                    </app-phone-input>

                                    <input
                                        *ngSwitchCase="'input'"
                                        matInput
                                        [value]="element.value"
                                        [(ngModel)]="element.value"
                                        [type]="getComponentForTag(element.name)?.options?.type || 'text'">
                                </ng-container>
                            </ng-container>

                            <ng-template #defaultInput>
                                <input
                                    matInput
                                    [(ngModel)]="element.value"
                                    [disabled]="!element.isEditing || !element.isEditable">
                            </ng-template>
                        </td>


                    </ng-container>

                    <!-- Actions -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                mat-icon-button
                                *ngIf="element.isEditing"
                                (click)="disableEditing(element)">
                                <mat-icon>check</mat-icon>
                            </button>
                            <button *ngIf="element.isEditable && !element.isEditing"
                                    matTooltip="Editar"
                                    class="mat-primary"
                                    matTooltipPosition="right"
                                    mat-icon-button
                                    [disabled]="!element.isEditable"
                                    (click)="enableEditing(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <div class="tooltip-container"
                                 matTooltip="Atributo não editável"
                                 matTooltipPosition="right"
                                 [matTooltipDisabled]="element.isEditable">
                                <button *ngIf="!element.isEditable"
                                        matTooltip="Atributo não editável"
                                        class="disabled"
                                        mat-icon-button
                                        [disabled]="!element.isEditable"
                                        (click)="enableEditing(element)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions *ngIf="!isLoading" class="custom-dialog-actions">
        <!--    <app-phone-input></app-phone-input>-->
        <!--    <app-unity-measure-input [maxDecimals]=2-->
        <!--                             [unitOptions]="[{ value: 'cm', label: 'Centímetros' }]"></app-unity-measure-input>-->
        <!--    <app-unity-measure-input [maxDecimals]=2-->
        <!--                             [unitOptions]="[{ value: 'kg', label: 'Kilogramas' }]"></app-unity-measure-input>-->
        <!--    <app-study-modality-select></app-study-modality-select>-->
        <!--    <app-bool-select></app-bool-select>-->
        <!--    <app-data-input></app-data-input>-->
        <!--    <app-gender-select></app-gender-select>-->
        <button mat-raised-button class="daxa h-auto mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-unthemed mat-mdc-button-base left-button">
            Corrigir relação Paciente/Estudo
            <mat-icon>contact_page</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button (click)="onCancel()">Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="!isModified" (click)="onSave()">Salvar</button>
    </mat-dialog-actions>
</div>


