<mat-card class="daxa-card add-user-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Pesquisar Usuário
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-sm-3">
                    <div class="mb-25">
                        <mat-form-field>
                            <mat-label>
                                Username
                            </mat-label>
                            <input
                                formControlName="username"
                                matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-25">
                        <mat-form-field>
                            <mat-label>
                                Identificação
                            </mat-label>
                            <input
                                formControlName="company"
                                matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-25">
                        <mat-form-field>
                            <mat-label>Clínica</mat-label>
                            <mat-select
                                class="form-control"
                                formControlName="clinica_id">
                                <mat-option>
                                    <mat-icon>search</mat-icon>
                                    <input
                                        #clinicaSearchInput
                                        matInput
                                        placeholder="Buscar..."
                                        (click)="$event.stopPropagation()"
                                        (input)="onClinicaSearch(clinicaSearchInput.value)"
                                        autocomplete="off"/>
                                </mat-option>
                                @for (item of filteredClinicas; track item) {
                                    <mat-option [value]="item.id">
                                        {{ item.nome }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <!--            <div class="col-sm-3">-->
                <!--                <div class="mb-25">-->
                <!--                    <mat-form-field>-->
                <!--                        <mat-label>-->
                <!--                            Tipo de usuário-->
                <!--                        </mat-label>-->
                <!--                        <input-->
                <!--                            formControlName="group"-->
                <!--                            matInput>-->
                <!--                    </mat-form-field>-->
                <!--                </div>-->
                <!--            </div>-->
                <div class="col-sm-3">
                    <div class="mb-25">
                        <mat-form-field>
                            <mat-label>Pacs</mat-label>
                            <mat-select
                                #pacsSelect
                                class="form-control"
                                formControlName="pacs_id">
                                <mat-option>
                                    <mat-icon>search</mat-icon>
                                    <input
                                        #pacsSearchInput
                                        matInput
                                        placeholder="Buscar..."
                                        (input)="onPacsSearch(pacsSearchInput.value)"
                                        autocomplete="off"/>
                                </mat-option>
                                @for (item of filteredPacs; track item) {
                                    <mat-option [value]="item.id">
                                        {{ item.identificacao }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-25">
                        <mat-form-field>
                            <mat-label>Usuário Tele</mat-label>
                            <mat-select
                                class="form-control"
                                formControlName="tele_id">
                                <mat-option>
                                    <mat-icon>search</mat-icon>
                                    <input
                                        #teleSearchInput
                                        matInput
                                        placeholder="Buscar..."
                                        (click)="$event.stopPropagation()"
                                        (input)="onTeleSearch(teleSearchInput.value)"
                                        autocomplete="off"/>
                                </mat-option>
                                @for (item of filteredTeles; track item) {
                                    <mat-option [value]="item.id">
                                        {{ item.full_name }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <button
                    (click)="onSearch()"
                    mat-button>
                    Buscar
                </button>
            </div>
        </form>

    </mat-card-content>
</mat-card>

<mat-card
    class="daxa-card to-do-list-card mb-25 mt-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-header>
        <mat-card-title
            *ngIf="isAdmin">
            <div class="btn-box">
                <button
                    mat-flat-button
                    class="daxa h-auto"
                    (click)="onCreate()">
                    + Cadastrar novo usuário
                </button>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="list-table">
            <div class="loading-container" *ngIf="isLoading; else tableTemplate">
                <mat-spinner></mat-spinner>
            </div>
            <ng-template #tableTemplate>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox
                                    (change)="$event ? toggleAllRows() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox
                                    (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="company">
                            <th mat-header-cell *matHeaderCellDef>
                                Identificação
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span [innerHTML]="element.company | emptyValue"></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef>
                                Username
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.username }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="user_groups">
                            <th mat-header-cell *matHeaderCellDef>
                                Tipo de usuário
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-black">
                                @for (group of element?.groups; track group.id) {
                                    {{ group.group_name }}
                                }
                                <!--                            <mat-chip-set>-->
                                <!--                                -->
                                <!--                                @for (group of element?.groups; track group.id) {-->
                                <!--                                    <mat-chip>{{ group.group_name }}</mat-chip>-->
                                <!--                                }-->
                                <!--                            </mat-chip-set>-->
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="pacs">
                            <th mat-header-cell *matHeaderCellDef>
                                Pacs
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-black">
                                <span [innerHTML]="element.pacs | emptyValue"></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="clinica">
                            <th mat-header-cell *matHeaderCellDef>
                                Clínica
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span [innerHTML]="element.clinica | emptyValue"></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="tele">
                            <th mat-header-cell *matHeaderCellDef>
                                Tele
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span [innerHTML]="element.tele | emptyValue"></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>
                                Ações
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="action-info">
                                    <button
                                        [matMenuTriggerFor]="menu"
                                        type="button"
                                        mat-button
                                        matTooltip="Mais opções"
                                        matTooltipPosition="above">
                                        <i class="material-symbols-outlined">more_vert</i>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button
                                            (click)="onEdit(element)"
                                            mat-menu-item>
                                            <mat-icon>edit</mat-icon>
                                            Editar/Ver dados
                                        </button>
                                        <button
                                            mat-menu-item>
                                            <mat-icon>delete</mat-icon>
                                            Excluir
                                        </button>
                                    </mat-menu>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </ng-template>
            <mat-paginator
                [length]="currentLength"
                [pageSize]="20"
                [pageSizeOptions]="[20,50]"
                (page)="onPageChange($event)"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
