<!--<nb-card>-->
<!--  <nb-card-header>Editar Lançamento</nb-card-header>-->
<!--  <nb-card-body>-->
<!--&lt;!&ndash;    {{lancamento.valor}}&ndash;&gt;-->
<!--    &lt;!&ndash; Adicione campos de-->
<!--    formulário para edição de lançamento aqui &ndash;&gt;-->
<!--    teste-->
<!--  </nb-card-body>-->
<!--  <nb-card-footer>-->
<!--    <button nbButton status="primary" (click)="onSave()">Salvar</button>-->
<!--    <button nbButton status="danger" (click)="onClose()">Cancelar</button>-->
<!--  </nb-card-footer>-->
<!--</nb-card>-->
