<div class="flex-container">
    <mat-card class="daxa-card error-card mb-25 pt-0 border-radius bg-white border-none d-block text-center">
        <mat-card-content>
            <!--        <img src="assets/images/error.png" alt="error-image">-->
            <mat-icon
                class="not-found-icon">
                help
            </mat-icon>
            <h3>
                Página não encontrada
            </h3>
            <a mat-button routerLink="/">
                Voltar para Home
            </a>
        </mat-card-content>
    </mat-card>
</div>




