<ng-container *ngIf="useMaterial; else nativeInput">
    <!-- Material Template -->
    <mat-form-field appearance="fill">
<!--        <mat-label>{{ label }}</mat-label>-->
        <input
            matInput
            [placeholder]="placeholder"
            maxlength="10"
            [matDatepicker]="picker"
            [disabled]="disabled"
            [value]="displayValue"
            (input)="formatDateInput($event)"
            (keydown)="restrictToNumbers($event)"
            (blur)="validateAndSetDate($event)"
        />
        <mat-datepicker-toggle
            [disabled]="disabled"
            matSuffix
            [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker
            [disabled]="disabled"
            #picker
            (closed)="onMaterialDateSelected(picker)">
        </mat-datepicker>
    </mat-form-field>
</ng-container>

<!-- Native Template -->
<ng-template #nativeInput>
<!--    <label>{{ label }}</label>-->
    <div style="display: flex; align-items: center;">
        <input
            type="text"
            [disabled]="disabled"
            [placeholder]="placeholder"
            maxlength="10"
            [value]="displayValue"
            (input)="formatDateInput($event)"
            (keydown)="restrictToNumbers($event)"
            (blur)="validateAndSetDate($event)"
            (click)="openCalendar($event)"
            style="flex: 1;"
        />
        <button
            [disabled]="disabled"
            type="button"
            (click)="nativeDatePicker?.showPicker()"
            style="background: transparent; border: none; cursor: pointer; margin-left: 8px;"
        >
            <mat-icon>calendar_today</mat-icon>
        </button>
        <!-- Oculto, mas necessário para o Datepicker nativo -->
        <input
            [disabled]="disabled"
            #nativeDatePicker
            type="date"
            style="opacity: 0; position: absolute; pointer-events: none;"
            (change)="onNativeDateSelected($event)"
        />
    </div>
</ng-template>
