<mat-card class="daxa-card add-user-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Pesquisar Aetitle
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-3">
                <div class="mb-25">
                    <mat-form-field>
                        <mat-label>
                            Aetitle
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mb-25">
                    <mat-form-field>
                        <mat-label>
                            Tipo Aetitle
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mb-25">
                    <mat-form-field>
                        <mat-label>
                            PACS
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mb-25">
                    <mat-form-field>
                        <mat-label>
                            Status
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <button mat-button>
                Buscar
            </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card
    class="daxa-card to-do-list-card mb-25 mt-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-header>
        <mat-card-title>
            <div class="btn-box">
                <button mat-flat-button class="daxa h-auto" (click)="toggleClass()">
                    + Cadastrar novo Aetitle
                </button>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="aetitle-list-table">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox
                                (change)="$event ? toggleAllRows() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()"
                            >
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox
                                (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)"
                            >
                            </mat-checkbox>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="aetitle">
                        <th mat-header-cell *matHeaderCellDef>
                            Aetitle
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.aetitle}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="tipo">
                        <th mat-header-cell *matHeaderCellDef>
                            Tipo
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.tipo}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="pacs_relacionado">
                        <th mat-header-cell *matHeaderCellDef>
                            Pacs Relacionado
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-black">
                            {{element.pacs_relacionado}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="clinica_identificacao">
                        <th mat-header-cell *matHeaderCellDef>
                            Clínica
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.clinica_identificacao}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="status_sincronizacao_pacs">
                        <th mat-header-cell *matHeaderCellDef>
                            Status Sincronização
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.status_sincronizacao_pacs}}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Ações
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-info">
                                <button type="button" mat-button matTooltip="Editar" matTooltipPosition="above">
                                    <i class="material-symbols-outlined">
                                        edit
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator
                    [length]="currentLength"
                    [pageSize]="20"
                    [pageSizeOptions]="[20,50]"
                    (page)="onPageChange($event)"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </mat-card-content>
</mat-card>
