<mat-card class="daxa-card add-user-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Pesquisar Aetitle
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-3">
                <div class="mb-25">
                    <mat-form-field>
                        <mat-label>
                            Aetitle
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mb-25">
                    <mat-form-field>
                        <mat-label>
                            Tipo Aetitle
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div
                *ngIf="isAdmin"
                class="col-sm-3">
                <div class="mb-25">
                    <mat-form-field>
                        <mat-label>
                            PACS
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mb-25">
                    <mat-form-field>
                        <mat-label>
                            Status
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <button mat-button>
                Buscar
            </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card
    class="daxa-card to-do-list-card mb-25 mt-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-header>
        <mat-card-title>
            <div class="btn-box">
                <button mat-flat-button class="daxa h-auto" (click)="onCreateAetitle()">
                    + Cadastrar novo Aetitle
                </button>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="aetitle-list-table">
            <div class="loading-container" *ngIf="isLoading; else aetitleTableTemplate">
                <mat-spinner></mat-spinner>
            </div>
            <ng-template #aetitleTableTemplate>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="aetitle">
                            <th mat-header-cell *matHeaderCellDef>
                                Aetitle
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.aetitle }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="tipo_aetitle">
                            <th mat-header-cell *matHeaderCellDef>
                                Tipo
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.tipo_aetitle }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="pacs_relacionado">
                            <th mat-header-cell *matHeaderCellDef>
                                Pacs Relacionado
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-black">
                                {{ element.pacs_relacionado }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="clinica_relacionada">
                            <th mat-header-cell *matHeaderCellDef>
                                Clínica
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.clinica_relacionada }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>
                                Status Sincronização
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.status }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ultima_sincronizacao_pacs">
                            <th mat-header-cell *matHeaderCellDef>
                                Última Sincronização em
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.ultima_sincronizacao_pacs | datetimeFormat }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>
                                Ações
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="action-info">
                                    <button
                                        [matMenuTriggerFor]="menu"
                                        type="button"
                                        mat-button
                                        matTooltip="Mais opções"
                                        matTooltipPosition="above">
                                        <i class="material-symbols-outlined">more_vert</i>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button
                                            mat-menu-item
                                            (click)="onEdit(element)">
                                            <mat-icon>edit</mat-icon>
                                            Editar/Ver dados
                                        </button>
                                        <button mat-menu-item (click)="onDelete(element)">
                                            <mat-icon>delete</mat-icon>
                                            Excluir
                                        </button>
                                    </mat-menu>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </ng-template>
            <mat-paginator
                [length]="currentLength"
                [pageSize]="20"
                [pageSizeOptions]="[20,50]"
                (page)="onPageChange($event)"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
