
    <h5>Escolha o Tipo de Aetitle a cadastrar:</h5>
    <button
        mat-button
        (click)="selectOption(TipoAetitle.STORAGE)">
        Armazenamento (Storage)</button>
    <button
        mat-button
        (click)="selectOption(TipoAetitle.LONGO_PRAZO)">
        Armazenamento longo prazo (OVH)</button>
    <button
        mat-button
        (click)="selectOption(TipoAetitle.EXTERNAL)">
        Exportação </button>

    <button
        mat-button
        (click)="selectOption(TipoAetitle.WORKLIST)">
        Worklist (Pacs Central - Oracle)</button>
