<div
    *ngIf="tipo_aetitle === TipoAetitle.STORAGE"
    class="modal-header row">
    <h5 class="modal-title">Novo Aetitle de armazenamento</h5>
</div>
<mat-dialog-content
    *ngIf="tipo_aetitle === TipoAetitle.STORAGE"
    class="modal-body">
    <div class="loading-container" *ngIf="isLoading; else aetitleFormTemplate">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #aetitleFormTemplate>
        <form class="pacs-form" [formGroup]="aetitleForm">
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Pacs</mat-label>
                        <mat-select
                            #pacsSelect
                            class="form-control"
                            (selectionChange)="queryAetitles(pacsSelect.value)"
                            formControlName="pacs_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #pacsSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onPacsSearch(pacsSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of filteredPacs; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.identificacao }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Clínica</mat-label>
                        <mat-select
                            class="form-control"
                            formControlName="clinica_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #clinicasSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onClinicaSearch(clinicasSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of filteredClinicas; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.nome }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="flex justify-content-start mb-25">
                    <mat-label
                        style="white-space: nowrap; display: inline; margin-right: 1rem">
                        Cadastrar Aetitle no Pacs
                    </mat-label>
                    <mat-slide-toggle
                        (change)="toggleCadastroAetitlePacs()"
                        class="form-control"
                        formControlName="pacs_register"
                        style="display: inline">
                    </mat-slide-toggle>
                </div>
<!--                <em>Caso desmarcado, o cadastro será realizado somente no banco de dados do Portal</em>-->
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Aetitle</mat-label>
                        <input
                            oninput="this.value = this.value.replace(/[^A-Za-z0-9_]/g, '').toUpperCase()"
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="aetitle"
                        />
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Permissões de visualização</mat-label>
                        <mat-select
                            multiple
                            class="form-control search-option"
                            formControlName="access_control_aetitles_ids">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #aetitleAccessSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onAetitleAccessSearch(aetitleAccessSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of aetitlesAccessFiltered; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.aetitle }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Descrição</mat-label>
                    <textarea
                        matInput
                        class="form-control aetitle-description"
                        formControlName="descricao"
                    ></textarea>
                </mat-form-field>
            </div>
        </form>
    </ng-template>
</mat-dialog-content>

<div
    *ngIf="tipo_aetitle === TipoAetitle.EXTERNAL"
    class="modal-header row">
    <h5 class="modal-title">Novo Aetitle de Exportação</h5>
</div>
<mat-dialog-content
    *ngIf="tipo_aetitle === TipoAetitle.EXTERNAL"
    class="modal-body">
    <p>
        Ao cadastrar esse Aetitle, os estudos enviados para esse Aetitle no Pacs escolhido, serão redirecionados para o
        Aetitle de mesmo nome no Pacs de destino
    </p>
    <div class="loading-container" *ngIf="isLoading; else aetitleFormTemplate">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #aetitleFormTemplate>
        <form class="pacs-form" [formGroup]="aetitleForm">
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Pacs</mat-label>
                        <mat-select
                            #pacsSelect
                            class="form-control"
                            (selectionChange)="queryNetworks(pacsSelect.value)"
                            formControlName="pacs_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #pacsSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onPacsSearch(pacsSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of filteredPacs; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.identificacao }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Clínica</mat-label>
                        <mat-select
                            class="form-control"
                            formControlName="clinica_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #clinicasSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onClinicaSearch(clinicasSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of filteredClinicas; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.nome }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Aetitle de destino</mat-label>
                        <input
                            oninput="this.value = this.value.replace(/[^A-Za-z0-9_]/g, '').toUpperCase()"
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="aetitle"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Descrição</mat-label>
                    <textarea
                        matInput
                        style="height: 4rem"
                        class="form-control aetitle-description"
                        formControlName="descricao"
                    ></textarea>
                </mat-form-field>
            </div>
            <div class="flex justify-content-start mb-25">
                <mat-label
                    style="white-space: nowrap; display: inline; margin-right: 1rem">
                    Cadastrar novo destino de exportação
                </mat-label>
                <mat-slide-toggle
                    (change)="toggleCreateNewExternalNetwork()"
                    class="form-control"
                    style="display: inline"
                    formControlName="new_external_network">
                </mat-slide-toggle>
            </div>
            <div
                *ngIf="!createNewExternalNetwork"
                class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Pacs de destino</mat-label>
                        <mat-select
                            class="form-control"
                            formControlName="external_network_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #externalNetworkSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onNetworksSearch(externalNetworkSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of filteredExternalNetworks; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.name }} - {{ item.host }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div
                *ngIf="createNewExternalNetwork"
                class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Nome do Pacs de destino</mat-label>
                        <input
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="external_network_name"
                        />
                    </mat-form-field>
                </div>
                <div class="col-md-8 form-group">
                    <mat-form-field>
                        <mat-label>IP do Pacs de destino</mat-label>
                        <input
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="external_network_host"
                        />
                    </mat-form-field>
                </div>
                <div class="col-md-4 form-group">
                    <mat-form-field>
                        <mat-label>Porta DICOM do Pacs de destino</mat-label>
                        <input
                            matInput
                            type="number"
                            class="form-control"
                            formControlName="external_network_port"
                        />
                    </mat-form-field>
                </div>
            </div>
        </form>
    </ng-template>
</mat-dialog-content>


<div
    *ngIf="tipo_aetitle === TipoAetitle.LONGO_PRAZO"
    class="modal-header row">
    <h5 class="modal-title">Novo Aetitle de Longo Prazo </h5>
    <h4 class="modal-title">Pacs OVH</h4>
</div>
<mat-dialog-content
    *ngIf="tipo_aetitle === TipoAetitle.LONGO_PRAZO"
    class="modal-body">
    <p>
        Ao cadastrar esse Aetitle, os estudos enviados para esse Aetitle no Pacs escolhido, serão redirecionados para o
        Aetitle de mesmo nome no Pacs de destino
    </p>
    <div class="loading-container" *ngIf="isLoading; else aetitleFormTemplate">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #aetitleFormTemplate>
        <form class="pacs-form" [formGroup]="aetitleForm">
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Pacs do cliente</mat-label>
                        <mat-select
                            #pacsSelect
                            class="form-control"
                            formControlName="pacs_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #pacsSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onPacsSearch(pacsSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of filteredPacs; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.identificacao }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Clínica</mat-label>
                        <mat-select
                            class="form-control"
                            formControlName="clinica_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #clinicasSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onClinicaSearch(clinicasSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of filteredClinicas; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.nome }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Aetitle de longo prazo</mat-label>
                        <input
                            oninput="this.value = this.value.replace(/[^A-Za-z0-9_]/g, '').toUpperCase()"
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="aetitle"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Descrição</mat-label>
                    <textarea
                        matInput
                        style="height: 4rem"
                        class="form-control aetitle-description"
                        formControlName="descricao"
                    ></textarea>
                </mat-form-field>
            </div>
        </form>
    </ng-template>
</mat-dialog-content>

<div
    *ngIf="tipo_aetitle === TipoAetitle.WORKLIST"
    class="modal-header row">
    <h5 class="modal-title">Novo Aetitle de Worklist </h5>
    <h4 class="modal-title">Pacs Central - Oracle</h4>
</div>
<mat-dialog-content
    *ngIf="tipo_aetitle === TipoAetitle.WORKLIST"
    class="modal-body">
    <p>
        Atenção: ao cadastrar o Aetitle de Worklist para o pacs selecionado, a worklist desse cliente será direcionada
        para o Pacs de Worklist central da Oracle
        <br>
        Realize esse cadastro somente se o cliente não possui Worklist própria, caso contrário o cadastro precisará ser corrigido
    </p>
    <div class="loading-container" *ngIf="isLoading; else aetitleFormTemplate">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #aetitleFormTemplate>
        <form class="pacs-form" [formGroup]="aetitleForm">
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Pacs do cliente</mat-label>
                        <mat-select
                            #pacsSelect
                            class="form-control"
                            formControlName="pacs_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #pacsSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onPacsSearch(pacsSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of filteredPacs; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.identificacao }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Clínica</mat-label>
                        <mat-select
                            class="form-control"
                            formControlName="clinica_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #clinicasSearchInput
                                    matInput
                                    [placeholder]="'Buscar...'"
                                    (click)="$event.stopPropagation()"
                                    (input)="onClinicaSearch(clinicasSearchInput.value)"
                                    autocomplete="off"/>
                            </mat-option>
                            @for (item of filteredClinicas; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.nome }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Aetitle de Worklist (Pacs Central)</mat-label>
                        <input
                            oninput="this.value = this.value.replace(/[^A-Za-z0-9_]/g, '').toUpperCase()"
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="aetitle"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>Descrição</mat-label>
                    <textarea
                        matInput
                        style="height: 4rem"
                        class="form-control aetitle-description"
                        formControlName="descricao"
                    ></textarea>
                </mat-form-field>
            </div>
        </form>
    </ng-template>
</mat-dialog-content>

<mat-dialog-actions
    class="modal-footer">
    <button
        mat-raised-button
        mat-button
        type="submit"
        class="btn btn-success btn-submit"
        [disabled]="isSaving"
        (click)="submit()">
        <mat-progress-spinner
            *ngIf="isSaving"
            diameter="20"
            mode="indeterminate"
            color="accent"
            style="display: inline-block; vertical-align: middle; margin-right: 8px;"
        ></mat-progress-spinner>
        {{ isSaving ? 'Cadastrando...' : 'Cadastrar' }}
    </button>
    <button
        mat-raised-button
        mat-button
        type="button"
        class="btn btn-danger btn-cancel"
        (click)="onCancel()"
        [disabled]="isSaving">
        Cancelar
    </button>
</mat-dialog-actions>

