.mat-mdc-button {
    border: 0;
    min-width: auto;
    min-height: auto;
    padding: 13px 40px;
    font-weight: normal;
    //background-color: var(--daxaColor);
    &.btn-submit {
        color: var(--whiteColor);
        margin-left: 10px;
        background-color: var(--daxaColor);
    }
    &.btn-cancel {
        margin-left: 10px;
        color: var(--whiteColor);
        background-color: var(--dangerColor);
    }
}

mat-dialog-content {
    overflow-x: hidden !important;
    height: 50vh;
    width: 100%;
    .loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px; /* Altura ajustável */
    }
    .mat-spinner {
        width: 50px;
        height: 50px;
    }
    .pacs-form {
        mat-form-field {
            margin-bottom: 0.5rem;
        }
        app-select-tele {
            margin-bottom: 0.5rem;
        }
        label {
            display: block;
            white-space: nowrap;
        }
        input {
            display: block;
        }
        .pacs-access-data {
            margin-top: 2rem;
        }
        .ssh-use-toggle {
            mat-label {
                margin-right: 1rem;
            }
        }
        .ssh-key-input {
            height: 7rem;
        }
        .pacs-access-data-header {
            margin-bottom: 1.5rem;
        }

        .aetitle-description {
            height: 5rem;
        }
    }
}

mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
}
