<div class="title text-center">
    <h4>Alteração de senha</h4>
    <h5>Usuário: <i>{{ user?.username }}</i></h5>
</div>
<mat-dialog-content class="modal-body">
    <form [formGroup]="passwordForm" class="password-form">
        <div class="form-field-wrapper">
            <mat-form-field class="fixed-height-field">
                <mat-label>Senha atual</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <span class="material-symbols-outlined">
                        {{ hidePassword ? 'visibility_off' : 'visibility' }}
                    </span>
                </button>
            </mat-form-field>
        </div>
        <div class="form-field-wrapper">
            <mat-form-field class="fixed-height-field">
                <mat-label>Nova senha</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="new_password">
            </mat-form-field>
            <div class="error-container">
                <mat-error *ngIf="passwordForm.get('new_password')?.hasError('minlength')">
                    Mínimo 6 caracteres
                </mat-error>
                <mat-error *ngIf="passwordForm.get('new_password')?.hasError('hasUpperAndLowerCase')">
                    Deve conter letras maiúsculas e minúsculas
                </mat-error>
                <mat-error *ngIf="passwordForm.get('new_password')?.hasError('hasNumber')">
                    Deve conter números
                </mat-error>
                <mat-error *ngIf="passwordForm.get('new_password')?.hasError('hasSpecialCharacter')">
                    Deve conter caracteres especiais
                </mat-error>
            </div>
        </div>
        <div class="form-field-wrapper">
            <mat-form-field class="fixed-height-field">
                <mat-label>Digite novamente a nova senha</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="new_password_repeat">
            </mat-form-field>
            <div class="error-container">
                <mat-error *ngIf="passwordForm.get('new_password_repeat')?.hasError('differentValues')">
                    Senhas não coincidem
                </mat-error>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
    <button
        mat-button
        mat-raised-button
        type="button"
        class="btn btn-danger mdc-button mat-mdc-button btn-cancel"
        (click)="onCancel()">
        Cancelar
    </button>
    <button
        mat-button
        [ngClass]="{'btn-submit': true, 'disabled-style': passwordForm.invalid}"
        mat-raised-button
        type="submit"
        class="btn btn-success btn-submit"
        (click)="onSubmit()"
        [disabled]="passwordForm.invalid">
        Salvar
    </button>
</mat-dialog-actions>
