<mat-card class="daxa-card add-user-card mb-25 border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mt-0 mb-0">
                Pesquisar PACS
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form
            [formGroup]="searchForm">
            <div class="row">
                <div class="col-sm-3">
                    <div class="mb-25">
                        <mat-form-field>
                            <mat-label>
                                Identificação
                            </mat-label>
                            <input
                                (keydown.enter)="onSearch()"
                                formControlName="identificacao"
                                matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-25">
                        <mat-form-field>
                            <mat-label>
                                Usuário administrador
                            </mat-label>
                            <input
                                (keydown.enter)="onSearch()"
                                formControlName="admin_user"
                                matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-25">
                        <mat-form-field>
                            <mat-label>
                                Aetitle principal
                            </mat-label>
                            <input
                                (keydown.enter)="onSearch()"
                                type="text"
                                formControlName="aetitle_storage_principal"
                                matInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mb-25">
                        <mat-form-field>
                            <mat-label>
                                Endereço IP
                            </mat-label>
                            <input
                                (keydown.enter)="onSearch()"
                                type="text"
                                formControlName="ip"
                                matInput>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
        <div class="btn-box">
            <button
                mat-button
                (click)="onSearch()">
                Buscar
            </button>
        </div>
    </mat-card-content>
</mat-card>
<mat-card
    class="daxa-card pacs-list-card mb-25 mt-25 border-radius bg-white border-none d-block"
    [class.rtl-enabled]="themeService.isRTLEnabled()">
    <mat-card-header>
        <mat-card-title>
            <div class="btn-box">
                <button
                    mat-flat-button
                    (click)="onCreate()"
                    class="daxa h-auto add-new-task-btn">
                    + Cadastrar novo PACS
                </button>
            </div>
        </mat-card-title>
        <!-- <mat-card-subtitle>
            <form class="search-box position-relative">
                <i class="material-symbols-outlined">
                    search
                </i>
                <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="Search here..." (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
        <div class="pacs-list-table">
            <div class="loading-container" *ngIf="isLoading; else pacsTableTemplate">
                <mat-spinner></mat-spinner>
            </div>
            <ng-template #pacsTableTemplate>
                <div class="table-responsive">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="identificacao">
                            <th mat-header-cell *matHeaderCellDef>
                                Identificação
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.identificacao }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="ip">
                            <th mat-header-cell *matHeaderCellDef>
                                IP
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.ip }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="main_storage_aetitle">
                            <th mat-header-cell *matHeaderCellDef>
                                Aetitle Principal
                            </th>
                            <td mat-cell *matCellDef="let element" class="text-black">
                                {{ element.main_storage_aetitle }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="username_admin">
                            <th mat-header-cell *matHeaderCellDef>
                                Usuário Admin
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span [innerHTML]="element.username_admin | emptyValue"></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="username_tele">
                            <th mat-header-cell *matHeaderCellDef>
                                Usuário Tele
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <span [innerHTML]="element.username_tele | emptyValue"></span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="host">
                            <th mat-header-cell *matHeaderCellDef>
                                Host
                            </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.host }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef>
                                Ações
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="action-info">
                                    <button
                                        [matMenuTriggerFor]="menu"
                                        type="button"
                                        mat-button
                                        matTooltip="Mais opções"
                                        matTooltipPosition="above">
                                        <i class="material-symbols-outlined">more_vert</i>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <ng-container
                                            *ngIf="!element.install_allow; else showInstall">
                                            <button mat-menu-item (click)="onAccess(element)">
                                                <mat-icon>login</mat-icon>
                                                Acesso
                                            </button>
                                        </ng-container>
                                        <ng-template #showInstall>
                                            <button
                                                mat-menu-item
                                                (click)="onInstall(element)">
                                                <mat-icon>terminal</mat-icon>
                                                Instalação
                                            </button>
                                        </ng-template>
                                        <button
                                            mat-menu-item
                                            (click)="onSyncPacs(element)">
                                            <mat-icon>cached</mat-icon>
                                            Sincronização
                                        </button>
                                        <button
                                            mat-menu-item
                                            (click)="onEdit(element)">
                                            <mat-icon>edit</mat-icon>
                                            Editar/Ver dados
                                        </button>
                                        <button
                                            *ngIf="element.tipo_pacs_application === PacsHostType.PACS_CLIENTE"
                                            mat-menu-item
                                            (click)="onCredentials(element)">
                                            <mat-icon>key</mat-icon>
                                            Gerenciar credenciais
                                        </button>
                                        <button mat-menu-item (click)="onDelete(element)">
                                            <mat-icon>delete</mat-icon>
                                            Excluir
                                        </button>
                                    </mat-menu>
                                </div>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </ng-template>
            <mat-paginator
                [length]="currentLength"
                [pageSize]="20"
                [pageSizeOptions]="[20,50]"
                (page)="onPageChange($event)"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
