<div class="modal-header row">
    <h5 class="modal-title">Cadastrar novo PACS no Host Central da Oracle</h5>
</div>
<mat-dialog-content class="modal-body">
    <form class="pacs-form" [formGroup]="pacsForm">
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Nome do Pacs</mat-label>
                        <input
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="identificacao"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <mat-form-field>
                        <mat-label>AeTitle Principal (Storage)</mat-label>
                        <input
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="aetitle_storage_principal"
                        />
                    </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field>
                        <mat-label>AeTitle Worklist - Pacs Central (Opcional)</mat-label>
                        <input
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="aetitle_worklist"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <mat-form-field>
                        <mat-label>Usuário Tele</mat-label>
                        <mat-select
                            class="form-control"
                            formControlName="tele_id">
                            <mat-option>Selecione</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button
                        mat-raised-button
                        mat-button
                        type="submit"
                        class="btn btn-success btn-submit"
                    >
                        Cadastrar novo usuário Tele
                    </button>
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field>
                        <mat-label>Conta Admin do PACS</mat-label>
                        <mat-select
                            class="form-control"
                            formControlName="admin_id">
                            <mat-option>Selecione</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button
                        mat-raised-button
                        mat-button
                        type="submit"
                        class="btn btn-success btn-submit"
                    >
                        Cadastrar novo usuário Pacs Admin
                    </button>
                </div>
            </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer">
    <button
        mat-raised-button
        mat-button
        type="submit"
        class="btn btn-success btn-submit"
        (click)="save()"
    >
        Salvar
    </button>
    <button
        mat-raised-button
        mat-button
        type="button"
        class="btn btn-danger mdc-button mat-mdc-button btn-cancel"
        (click)="onCancel()"
    >
        Cancelar
    </button>
</mat-dialog-actions>

