<div
    *ngIf="tipo_pacs_application === PacsHostType.PACS_CLIENTE"
    class="modal-header row"
>
    <h5 class="modal-title">Cadastrar novo PACS</h5>
</div>
<mat-dialog-content
    *ngIf="tipo_pacs_application === PacsHostType.PACS_CLIENTE"
    class="modal-body"
>
    <div class="loading-container" *ngIf="isLoading; else pacsFormTemplate">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #pacsFormTemplate>
        <form class="pacs-form" [formGroup]="pacsForm">
            <div
                [hidden]="!(currentPage === 1)">
                <p>
                    Caso esse PACS use o worklist central, utilizar como "IP Worklist" o DDNS "pacs.rad.direct" e "Porta
                    worklist" a
                    porta "80"
                </p>
                <div class="row">
                    <div class="col-md-8 form-group">
                        <mat-form-field>
                            <mat-label>Nome do Pacs</mat-label>
                            <input
                                matInput
                                type="text"
                                class="form-control"
                                formControlName="identificacao"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Endereço IP</mat-label>
                            <input
                                matInput
                                type="text"
                                class="form-control"
                                formControlName="ip"
                            />
                        </mat-form-field>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Domínio</mat-label>
                            <input
                                matInput
                                type="text"
                                class="form-control"
                                formControlName="dominio"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>IP Worklist</mat-label>
                            <input
                                matInput
                                type="text"
                                class="form-control"
                                formControlName="worklist_ip"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Porta worklist (Padrão: 3000)</mat-label>
                            <input
                                matInput
                                type="number"
                                class="form-control"
                                formControlName="porta_wkl"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Porta WADO (Padrão: 8090)</mat-label>
                            <input
                                matInput
                                type="number"
                                class="form-control"
                                formControlName="porta_wado"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Porta API (Padrão: 3966)</mat-label>
                            <input
                                matInput
                                type="number"
                                class="form-control"
                                formControlName="porta_api"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Porta HTTP (Padrão: 80)</mat-label>
                            <input
                                matInput
                                type="number"
                                class="form-control"
                                formControlName="porta_nginx"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Porta HTTPS/SSL (Padrão: 443)</mat-label>
                            <input
                                matInput
                                type="number"
                                class="form-control"
                                formControlName="porta_ssl"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Porta DICOM (Padrão: 11112)</mat-label>
                            <input
                                matInput
                                type="number"
                                class="form-control"
                                formControlName="porta_dicom"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Total de RAM alocada</mat-label>
                            <mat-select
                                class="form-control"
                                formControlName="pacs_ram_config">
                                <mat-option value="4">4GB</mat-option>
                                <mat-option value="8">8GB</mat-option>
                                <mat-option value="16">16GB</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Pools (Padrão: 50, Max: 500)</mat-label>
                            <input
                                matInput
                                type="number"
                                class="form-control"
                                formControlName="tamanho_pool"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 form-group">
                        <mat-form-field>
                            <mat-label>Threads (Padrão: 100, Max: 600)</mat-label>
                            <input
                                matInput
                                type="number"
                                class="form-control"
                                formControlName="quantidade_threads"
                            />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div [hidden]="!(currentPage === 2)">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <mat-form-field>
                            <mat-label>AeTitle Principal (Storage)</mat-label>
                            <input
                                matInput
                                type="text"
                                class="form-control"
                                formControlName="aetitle_storage_principal"
                            />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 form-group">
                        <mat-form-field>
                            <mat-label>AeTitle Worklist (Opcional)</mat-label>
                            <input
                                matInput
                                type="text"
                                class="form-control"
                                formControlName="aetitle_worklist"
                            />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <mat-form-field>
                            <mat-label>Usuário Tele</mat-label>
                            <mat-select
                                class="form-control"
                                formControlName="tele_id">
                                <mat-option>
                                    <mat-icon>search</mat-icon>
                                    <input
                                        #teleSearchInput
                                        matInput
                                        placeholder="Buscar..."
                                        (click)="$event.stopPropagation()"
                                        (input)="onTeleSearch(teleSearchInput.value)"
                                        autocomplete="off" />
                                </mat-option>
                                @for (item of filteredTeles; track item) {
                                    <mat-option [value]="item.id">
                                        {{ item.full_name }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
<!--                        <button-->
<!--                            mat-raised-button-->
<!--                            mat-button-->
<!--                            type="submit"-->
<!--                            class="btn btn-success btn-submit"-->
<!--                        >-->
<!--                            Cadastrar novo usuário Tele-->
<!--                        </button>-->
                    </div>
                    <div class="col-md-6 form-group">
                        <mat-form-field>
                            <mat-label>Usuário Admin</mat-label>
                            <mat-select
                                class="form-control"
                                formControlName="admin_id">
                                <mat-option>
                                    <mat-icon>search</mat-icon>
                                    <input
                                        #adminSearchInput
                                        matInput
                                        placeholder="Buscar..."
                                        (click)="$event.stopPropagation()"
                                        (input)="onAdminSearch(adminSearchInput.value)"
                                        autocomplete="off" />
                                </mat-option>
                                @for (item of filteredAdmins; track item) {
                                    <mat-option [value]="item.id">
                                        {{ item.username }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
<!--                        <button-->
<!--                            mat-raised-button-->
<!--                            mat-button-->
<!--                            type="submit"-->
<!--                            class="btn btn-success btn-submit"-->
<!--                        >-->
<!--                            Cadastrar novo usuário Pacs Admin-->
<!--                        </button>-->
                    </div>
                </div>
                <div class="pacs-access-data">
                    <hr/>
                    <div class="row pacs-access-data-header">
                        <div class="col-md-6 form-group">
                            <h5 style="display: inline"> Dados de acesso ao Host </h5>
                        </div>
                        <div class="col-md-6 form-group ssh-use-toggle">
                            <mat-label>Usar chave SSH</mat-label>
                            <mat-slide-toggle
                                (change)="toggleSshInput()"
                                class="form-control"
                                formControlName="use_ssh_key"
                                name="usarChaveSSH"
                            ></mat-slide-toggle>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <mat-form-field>
                                <mat-label>Usuário SSH</mat-label>
                                <input
                                    matInput
                                    type="text"
                                    class="form-control"
                                    formControlName="pacs_host_ssh_username"
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2 form-group">
                            <mat-form-field>
                                <mat-label>Porta SSH</mat-label>
                                <input
                                    matInput
                                    type="number"
                                    class="form-control"
                                    formControlName="pacs_host_ssh_port"
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 form-group">
                            <mat-form-field *ngIf="!usarChaveSSH">
                                <mat-label>Senha SSH</mat-label>
                                <input
                                    matInput
                                    type="password"
                                    class="form-control"
                                    formControlName="pacs_host_ssh_password"
                                />
                            </mat-form-field>
                            <mat-form-field *ngIf="usarChaveSSH">
                                <mat-label>Chave SSH</mat-label>
                                <textarea
                                    matInput
                                    class="form-control ssh-key-input"
                                    formControlName="pacs_host_ssh_password"
                                ></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions
    *ngIf="tipo_pacs_application === PacsHostType.PACS_CLIENTE"
    class="modal-footer"
>
    <button
        *ngIf="currentPage > 1"
        mat-raised-button
        mat-button
        type="button"
        class="btn btn-secondary"
        (click)="goToPreviousPage()"
    >
        Voltar
    </button>
    <button
        *ngIf="currentPage === 1"
        mat-raised-button
        mat-button
        type="button"
        class="btn btn-primary"
        (click)="goToNextPage()"
    >
        Próximo
    </button>
    <button
        *ngIf="currentPage === 2"
        mat-raised-button
        mat-button
        type="submit"
        class="btn btn-success btn-submit"
        (click)="submit()"
    >
        Cadastrar
    </button>
    <button
        mat-raised-button
        mat-button
        type="button"
        class="btn btn-danger mdc-button mat-mdc-button btn-cancel"
        (click)="onCancel()"
    >
        Cancelar
    </button>
</mat-dialog-actions>

<div
    *ngIf="tipo_pacs_application === PacsHostType.PACS_CENTRAL_ORACLE"
    class="modal-header row"
>
    <h5 class="modal-title">Cadastrar novo PACS no Host Central da Oracle</h5>
</div>
<mat-dialog-content
    *ngIf="tipo_pacs_application === PacsHostType.PACS_CENTRAL_ORACLE"
    class="modal-body">
    <div class="loading-container" *ngIf="isLoading; else pacsFormTemplate">
        <mat-spinner></mat-spinner>
    </div>
    <ng-template #pacsFormTemplate>
        <form class="pacs-form" [formGroup]="pacsForm">
            <div class="row">
                <div class="col-md-12 form-group">
                    <mat-form-field>
                        <mat-label>Nome do Pacs</mat-label>
                        <input
                            matInput
                            type="text"
                            class="form-control"
                            formControlName="identificacao"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="flex justify-content-start mb-25">
                    <mat-label
                        style="white-space: nowrap; display: inline; margin-right: 1rem">
                        Cadastrar Aetitles
                    </mat-label>
                    <mat-slide-toggle
                        (change)="toggleCadastroAetitle()"
                        class="form-control"
                        style="display: inline">
                    </mat-slide-toggle>
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field>
                        <mat-label>AeTitle Principal (Storage)</mat-label>
                        <input
                            matInput
                            [disabled]="!habilitarCadastroAetitle"
                            type="text"
                            class="form-control"
                            formControlName="aetitle_storage_principal"
                        />
                    </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field>
                        <mat-label>AeTitle Worklist - Pacs Central (Opcional)</mat-label>
                        <input
                            matInput
                            [disabled]="!habilitarCadastroAetitle"
                            type="text"
                            class="form-control"
                            formControlName="aetitle_worklist"
                        />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <mat-form-field>
                        <mat-label>Usuário Tele</mat-label>
                        <mat-select
                            class="form-control"
                            formControlName="tele_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #teleSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onTeleSearch(teleSearchInput.value)"
                                    autocomplete="off" />
                            </mat-option>
                            @for (item of filteredTeles; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.full_name }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
<!--                    <button-->
<!--                        mat-raised-button-->
<!--                        mat-button-->
<!--                        type="submit"-->
<!--                        class="btn btn-success btn-submit"-->
<!--                    >-->
<!--                        Cadastrar novo usuário Tele-->
<!--                    </button>-->
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field>
                        <mat-label>Usuário Admin</mat-label>
                        <mat-select
                            class="form-control"
                            formControlName="admin_id">
                            <mat-option>
                                <mat-icon>search</mat-icon>
                                <input
                                    #adminSearchInput
                                    matInput
                                    placeholder="Buscar..."
                                    (click)="$event.stopPropagation()"
                                    (input)="onAdminSearch(adminSearchInput.value)"
                                    autocomplete="off" />
                            </mat-option>
                            @for (item of filteredAdmins; track item) {
                                <mat-option [value]="item.id">
                                    {{ item.username }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
<!--                    <button-->
<!--                        mat-raised-button-->
<!--                        mat-button-->
<!--                        type="submit"-->
<!--                        class="btn btn-success btn-submit"-->
<!--                    >-->
<!--                        Cadastrar novo usuário Pacs Admin-->
<!--                    </button>-->
                </div>
            </div>
        </form>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions
    *ngIf="tipo_pacs_application === PacsHostType.PACS_CENTRAL_ORACLE"
    class="modal-footer"
>
    <button
        mat-raised-button
        mat-button
        type="button"
        class="btn btn-danger mdc-button mat-mdc-button btn-cancel"
        (click)="onCancel()"
    >
        Cancelar
    </button>
    <button
        mat-raised-button
        mat-button
        type="submit"
        class="btn btn-success btn-submit"
        (click)="submit()"
    >
        Salvar
    </button>
</mat-dialog-actions>

