<h1 class="dialog-title" mat-dialog-title>Exclusão de séries de estudo</h1>
<span class="spacer"></span>
<h3 style="display: inline" mat-dialog-title>Estudo uid: {{ selectedSerie.uid }}</h3>
<h3 style="display: inline" class="mb-25"  mat-dialog-title>Serie uid: {{ selectedSerie.study_uid }}</h3>
<mat-dialog-content class="mb-25">
    <h4>
       Confirma a exclusão da série?
    </h4>
</mat-dialog-content>
<mat-dialog-actions class="custom-dialog-actions">
<!--    <span class="spacer"></span>-->
    <button
        mat-button
        color="indianred"
        (click)="onConfirm()">
        Confirmar
    </button>
    <button
        mat-button
        (click)="onCancel()">
        Cancelar
    </button>
</mat-dialog-actions>


