<div class="sign-in-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="daxa-form ml-auto mr-auto border-radius bg-white"
                [class.card-borderd-theme]="themeService.isCardBorder()"
                [class.component-dark-theme]="themeService.isDark()"
                [class.rtl-enabled]="themeService.isRTLEnabled()">
                <div class="title text-center">
                    <img
                        *ngIf="themeService.isDark()"
                        src= 'assets/images/logos/direct-rad-logo1.png' alt="logo-icon">
                    <img
                        *ngIf="!themeService.isDark()"
                        src= 'assets/images/logos/direct-rad_logo-topo.png' alt="logo-icon">

<!--                    <h3>-->
<!--                        Login-->
<!--                    </h3>-->
<!--                    <p class="text-black">-->
<!--                        Don’t have an account yet? <a routerLink="/authentication/sign-up" class="text-daxa">Sign Up</a>-->
<!--                    </p>-->
                </div>
                <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
<!--                        <label class="main-label d-block lh-1 text-black">-->
<!--                            Email Address-->
<!--                        </label>-->
                        <mat-form-field>
                            <mat-label>
                                Username
                            </mat-label>
                            <input matInput type="text" id="username" formControlName="username">
                        </mat-form-field>
<!--                        <div class="error text-danger" *ngIf="authForm.get('email')!.hasError('required') && authForm.get('email')!.touched">-->
<!--                            Digite o username-->
<!--                        </div>-->
<!--                        <div class="error text-danger" *ngIf="authForm.get('email')!.hasError('email') && authForm.get('email')!.touched">-->
<!--                            Please enter a valid email address.-->
<!--                        </div>-->
                    </div>
                    <div class="form-group">
                        <mat-form-field>
                            <mat-label>
                                Senha
                            </mat-label>
                            <input
                                matInput [type]="hide ? 'password' : 'text'"
                                id="password"
                                formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <span class="material-symbols-outlined">
                                    {{hide ? 'visibility_off' : 'visibility'}}
                                </span>
                            </button>
                        </mat-form-field>
                        <div class="error text-danger" *ngIf="authForm.get('password')!.hasError('required') && authForm.get('password')!.touched">
                            Digite a senha
                        </div>
<!--                        <div class="error text-danger" *ngIf="authForm.get('password')!.hasError('minlength') && authForm.get('password')!.touched">-->
<!--                            Password must be at least 8 characters long.-->
<!--                        </div>-->
                    </div>
                    <div class="info d-flex justify-content-between align-items-center">
                        <mat-checkbox>
                            Manter conectado
                        </mat-checkbox>
<!--                        <a routerLink="/authentication/forgot-password" class="d-inline-block text-daxa">-->
<!--                            Esqueci minha senha-->
<!--                        </a>-->
                    </div>
                    <button
                        mat-button
                        class="btn"
                        type="submit"
                        [ngClass]="!this.isLogging ?'elem-disabled' : 'elem-enabled'"
                        [disabled]="authForm.invalid || isLogging">
                        <mat-progress-spinner
                            *ngIf="isLogging"
                            diameter="20"
                            mode="indeterminate"
                            color="accent"
                            style="display: inline-block; vertical-align: middle; margin-right: 8px;"
                        ></mat-progress-spinner>
                        {{ isLogging ? 'Autenticando...' : 'Login' }}
                    </button>
                    <button
                        [ngClass]="!this.isLogging ?'elem-disabled' : 'elem-enabled'"
                        [disabled]="isLogging"
                        (click)="onPatientAccess()"
                        mat-button
                        class="btn">
                        Área do Paciente
                    </button>
<!--                    <div class="signin-with-socials text-center">-->
<!--                        <div class="or position-relative">-->
<!--                            <span class="d-inline-block">-->
<!--                                or sign in with-->
<!--                            </span>-->
<!--                        </div>-->
<!--                        <div class="socials">-->
<!--                            <button mat-button type="button" class="facebook">-->
<!--                                <i class="ri-facebook-fill"></i>-->
<!--                            </button>-->
<!--                            <button mat-button type="button" class="twitter">-->
<!--                                <i class="ri-twitter-x-fill"></i>-->
<!--                            </button>-->
<!--                            <button mat-button type="button" class="google">-->
<!--                                <i class="ri-google-fill"></i>-->
<!--                            </button>-->
<!--                            <button mat-button type="button" class="linkedin">-->
<!--                                <i class="ri-linkedin-fill"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
                </form>
            </div>
        </div>
    </div>
</div>
