<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Painel de Controle
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/exames" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Painel de Controle
        </li>
    </ol>
</div>

<!-- <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block"> -->
<!-- <mat-card-header> -->
<!-- <mat-card-title> -->
<div>
    <ul>
        <li>
            Nessa página você pode criar, editar e excluir aetitles, reiniciar os serviços do PACS, verificar os logs de
            execução do serviço, além de também possuir interface para instalação do PACS em um cliente remoto via SSH.
        </li>
    </ul>
</div>
<!-- </mat-card-title> -->
<!-- </mat-card-header> -->
<!-- <mat-card-content> -->

<mat-tab-group
    (selectedTabChange)="onTabChange($event)"
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    [dynamicHeight]="true"
    animationDuration="0ms"
    [disableRipple]="true">
    <mat-tab label="Pacs">
        <app-cadastro-pacs></app-cadastro-pacs>
    </mat-tab>
    <mat-tab label="Aetitles">
        <app-painel-aetitle></app-painel-aetitle>
    </mat-tab>
    <mat-tab label="Associações DICOM"></mat-tab>
    <mat-tab label="Tarefas de exportação"></mat-tab>
    <mat-tab label="Worklist reverso">
        <app-cadastro-rotina></app-cadastro-rotina>
    </mat-tab>
    <mat-tab label="Configurações Pacs"></mat-tab>
</mat-tab-group>
<!-- </mat-card-content> -->
<!-- </mat-card> -->
