<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Cadastro
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 pl-0">
        <li class="breadcrumb-item position-relative">
            <a routerLink="/" class="d-inline-block position-relative">
                <i class="ri-home-8-line"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item position-relative">
            Cadastro
        </li>
    </ol>
</div>

<!-- <mat-card class="daxa-card mb-25 border-radius bg-white border-none d-block"> -->
    <!-- <mat-card-header> -->
        <!-- <mat-card-title> -->
            <div>
                <ul>
                    <li>
                        Nessa página você pode criar, editar e excluir usuários, além de configurar pacs, aetitles e acesso SSH.
                    </li>
                    <li>
                        Para toda nova instalaçao deve ser configurado inicialmente a tele no RIS, depois deve ser criado um PACS e um usuário administardor no portal, ambos devem ser vinculados a tele do cliente. 
                    </li>
                    <li>
                        Cada aetitle deve ser vinculado a um ou vários hospitais do RIS.
                    </li>
                </ul>
            </div>
        <!-- </mat-card-title> -->
    <!-- </mat-card-header> -->
    <!-- <mat-card-content> -->
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Aetitles">

            </mat-tab>
            <mat-tab label="Associações DICOM">

            </mat-tab>
            <mat-tab label="Tarefas de exportação">

            </mat-tab>
            <mat-tab label="Configurações PACS">

            </mat-tab>
            <mat-tab label="Instalaçao">

            </mat-tab>
        </mat-tab-group>
    <!-- </mat-card-content> -->
<!-- </mat-card> -->