<ng-container *ngIf="useMaterial; else nativeSelect">
    <!-- Angular Material Template -->
    <mat-form-field appearance="fill">
<!--        <mat-label>{{ label }}</mat-label>-->
        <mat-select
            [disabled]="disabled"
            [value]="value"
            (selectionChange)="onValueChange($event.value)">
            <mat-option *ngFor="let option of options" [value]="option.value">
                {{ option.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>

<!-- Native HTML Select -->
<ng-template #nativeSelect>
<!--    <label>{{ label }}</label>-->
    <select
        [disabled]="disabled"
        [value]="value"
        (change)="onNativeValueChange($event)">
        <option *ngFor="let option of options" [value]="option.value">
            {{ option.label }}
        </option>
    </select>
</ng-template>
